.App {
  display: grid;
  grid-template-rows: 80px 1fr;
  width: 100vw;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  padding: 20px 40px;
}

.App-link {
  color: #61dafb;
}
